*{box-sizing: border-box;}

/*Webpage Banner*/
.header {
    color: #fff;
    background: linear-gradient(-45deg,#4CAF25, dodgerblue, #fcff6d,#ff9800,#ff1911);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    padding:1.5vw;
    width:97.8vw;
     margin-top:0vw;
    text-align: center;
    font-size: 3vw;
    color:white;
    text-shadow: 3px 2px 3px black;
    margin-bottom: .3%;
    font-family: 'anton'; 
    border-radius: 5px;
    box-shadow:  2px 3px 5px black;

}

.header 1{
    color:white;

}

/*Gradient Brackground Effect*/
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

