body{
    overflow-x: hidden;
}
*,*:before,*:after{box-sizing:border-box;}

.navbar{
    text-align:center;
}
/*container for slides */
.slideshow-container {
    width: 97.8vw;
    margin-top: 1vw;
    object-fit: contain;
    align-items: center;
    position:relative;
    box-shadow: 1px 1px 9px black;
}

/* hides images by default */
.mySlides {
    display: none;
    margin-top: 0%;
    width:100%;
    padding: 100px;
    width:100%; height:410px
}

/* next/previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/*next button*/
.next {
    right:0vw;
    border-radius: 3px 0 0 3px;
}

/* filter visibile on hover */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* dots/bullets */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 1px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/*when the dot is active, darken color*/
.active, .dot:hover{
    background-color: darkslategrey;
}


/* Slides Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
.slidetitle{
    font-family: Anton;
    font-size: 4vw;
    color: white;
    text-align: center;
    margin-top: -4.5vw;
}
.darkorange{
    text-shadow: 2.5px 2px 3px orangered;
}
.darkblue{
    text-shadow: 2.5px 2px 3px  blue;
}
.darkred{
    text-shadow: 2.5px 2px 3px darkred;
}
.darkyellow{
    text-shadow: 4px 3.5px 2.5px darkorange;
}
.slideinfo{
    font-family: 'ubuntu';
    font-size: 2vw;
    color: white;
    text-align: center;
    margin-top: 3vw;
    object-fit: contain;
}

/*ZOOM ON HOVER*/
.zoom {
    padding: 50px;
    background-color: yellow;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    position: absolute;
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

/*3 columns for intros*/
.column {
    float: left;
    width: 30%;
    padding: 10px;
    height: 33vw;
    margin-left: 2.1%;
    margin-right: 1%;
    align-content: center;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Anton'; 
    box-shadow:  3px 6px 5px darkslategray;
    border-radius: 8px;
    text-shadow: 1px 2px 2px black;
}

/*different color options*/
.red{
    background-color: red;
}
.green{
    background-color: #4CAF25

}
.orange{
    background-color: orange;
}
.dodgerblue{
    background-color: dodgerblue;
}
.palered{
    background-color:#f44336; 

}
.yellow{
    background-color:
        #ffd016;
}

/* Clears floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* creators intro header*/
.creators{
    background-color:#ffd016;
    width:100%;
    height: 6vw;
    margin-top: 0vw;
    margin-bottom: 1vw;
    box-shadow: 1px 2px 5px black;
    border-radius: 5px;
}
.creatorstitle{
    font-family:'Anton'; 
    text-shadow: 3px 4px 2px darkorange;
    font-size: 4vw;
    color:white;
    text-align: center;
    margin-top: -6.5vw;
    margin-bottom: 1.5vw;
}
/*response to screen width/height change*/
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
    .rubiksimg{
        width:100%;
    }
}
