*,*:before,*:after{box-sizing:border-box;}

body{
    overflow-x: hidden;
}

/*Image of Brandon*/
.brandonimg{
  display:table-row;
  object-fit:contain;
    align-items: center;
  width: 20vw;
  margin-left: -.5vw;
  border: 0;
  padding: .5vw;  
}

/*Image of malinda*/
.malindaimg{
     display:table-row;
  object-fit:contain;
    align-items: center;
  width: 27vw;
  margin-left: -.5vw;
    margin-top:-20vw;
  border: 0;
  padding: .5vw;
}

/*image of aiden*/
.aidenimg{
     display:table-row;
  object-fit:contain;
    align-items: center;
  width: 27vw;
  margin-left: .1vw;
    margin-top:-20vw;
  border: 0;
  padding: .5vw;
}
.imgcontainer {
  position: relative;
  width: 20vw;
    margin-left: 4.2vw;
}

.imgcontainer2 {
  position: relative;
  width: 28vw;
    height: 26.5vw;
    margin-left: -.2vw;
    margin-top: 21vw;
    background-color: transparent;
 
}
.imgcontainer3{
    position: relative;
  width: 28vw;
    height: 26.5vw;
    margin-left: -.2vw;
    margin-top: 21vw;
    background-color: transparent;
}

/*Covers picture on hover*/
.imgoverlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}
.orange{
      background-color: orange;
}
.red{
     background-color: red;
}
.green{
    background-color: green;
}

.imgcontainer:hover .imgoverlay {
  bottom: 0;
  height: 100%;
}

.imgcontainer2:hover .imgoverlay {
  bottom: 0;
  height: 100%;
}
.imgcontainer3:hover .imgoverlay {
  bottom: 0;
    height: 100%;
}
  
/*Description of person*/
.bio {
  color: white;
  font-size: 1.7vw;
font-family: 'ubuntu';
  position: absolute;
    background-color: transparent;
  top: 12vw;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
    transition-duration: .25s;
    padding:0vw;
    width: 18vw
    
}
.aiden{
     left:13.5vw;
    transition-duration: .25s;
}
.malinda{
   left:13.5vw;
    transition-duration: .25s;
}
.brandon{
left:9.5vw;
    transition-duration: .25s;
}
