body{
    overflow-x: hidden;
    height:  500vw;
}

/*Algorithm key that slides on scroll*/
.keyholestick {
    opacity: .5;
    position: -webkitsticky;
    position: sticky;
    background-color: dodgerblue;
    border:solid 5px blue;
    border-radius: 10%;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'ubuntu';
    color: white;
    width: 45vw;
    padding-left: 5vw;
    text-align: right;
    height 23vw;
    box-shadow: 2px 2px 3px blue;
    top:0;
    margin-left: 96vw;
    transition-duration: 1s;
}

/*on hover, show key*/
.keyholestick:hover{
    margin-left: 53vw;
    transition-duration: 1s;
    opacity: 1;
}

.bigletter {
    color: white;
    background-color: transparent;
    text-align: center;
    font-family: ubuntu;
    text-shadow:
        -1px -1px 0 blue,
        1px -1px 0 blue,
        -1px 1px 0 blue,
        1px 1px 0 blue;
    position: -webkitsticky;
    position: sticky;

}

/*font settings for sticky algorithm key*/
.stick{
    font-size: vw;
    position: -webkitsticky;
    position: sticky;
    width;2vw;


}

/*tag description*/
td {
    border: 2px solid blue;
    border-collapse: 
        collapse;
    color: white;
    border-radius: 15%;
    opacity: .8;
    width:auto;
    font-size: 1vw;
    text-align: center;
    box-shadow: 1px 1px 1px black;
    position: -webkitsticky;
    position: sticky;
    font-family: 'ubuntu';


}
td:hover {
    opacity: 1;
}

/*header/title*/
th{
    text-align: center;
    color: white;
    text-shadow:3px 4px 2px blue;
    font-size: 2.5vw;
    font-family: impact;
    position: -webkitsticky;
    position: sticky;

}