div {
    position: absolute;   
    color: transparent;
    background-color: darkgray;
}
.yellow {
    background-color: yellow;
}
.orange {
    background-color: darkorange
}
.green{
    background-color:lawngreen
}
.blue {
    background-color:blue
}
.red {
    background-color:darkred
}
.cube {
    left: 2%;
    top: 2%;
    width: 30vw;
    height: 30vw;
    background-color: transparent;
}
.side {
    width: 10%;
    height: 25%;
}
.top {
    width: 25%;
    height: 10%;    
}
.corner {
    width: 10%;
    height: 10%;
    background-color: transparent;
}
.square {
    width: 25%;
    height: 25%;
}
.box1 {
    left: 0%;
    top: 0%;
}
.box2 {
    left: 10%;
    top: 0%;
    border-left: solid black 2px;
    border-top: solid black 2px;
}
.box3 { 
    left: 35%;
    top: 0%;
    border-top: solid black 2px;
    border-left: solid black 2px;
}
.box4 {
    left: 60%;
    top: 0%;
    border-top: solid black 2px;
    border-left: solid black 2px;
}
.box5 {
    left: 85%;
    top: 0%;
    border-left: solid black 2px;  
}
.box6 {
    left: 0%;
    top: 10%;
    border-top: solid black 2px;
    border-left: solid black 2px;   
}
.box7 {
    left: 10%;
    top: 10%;
    border-top: solid black 2px;
    border-left: solid black 2px;   
}
.box8 {
    left: 35%;
    top: 10%;
    border-top: solid black 2px;
    border-left: solid black 2px;  
}
.box9 {
    left: 60%;
    top: 10%;
    border-top: solid black 2px;
    border-left: solid black 2px;  
}
.box10 {
    left: 85%;
    top: 10%;
    border-top: solid black 2px;
    border-left: solid black 2px;
    border-right: solid black 2px;
}
.box11 {
    left: 0%;
    top: 35%;
    border-top: solid black 2px;
    border-left: solid black 2px;
}
.box12 {
    left: 10%;
    top: 35%;
    border-top: solid black 2px;
    border-left: solid black 2px;   
}
.box13 {
    left: 35%;
    top: 35%;
    border-top: solid black 2px;
    border-left: solid black 2px;  
}
.box14 {
    left: 60%;
    top: 35%;
    border-top: solid black 2px;
    border-left: solid black 2px;    
}
.box15 {
    left: 85%;
    top: 35%;
    border-top: solid black 2px;
    border-left: solid black 2px;
    border-right: solid black 2px;
}
.box16 {
    left: 0%;
    top: 60%;
    border-top: solid black 2px;
    border-left: solid black 2px;
}
.box17 {
    left: 10%;
    top: 60%;
    border-top: solid black 2px;
    border-left: solid black 2px
}
.box18 {
    left: 35%;
    top: 60%;
    border-top: solid black 2px;
    border-left: solid black 2px;
}
.box19 {
    left: 60%;
    top: 60%;
    border-top: solid black 2px;
    border-left: solid black 2px;
}
.box20 {
    left: 85%;
    top: 60%;
    border-top: solid black 2px;
    border-left: solid black 2px;
    border-right: solid black 2px;
}
.box21 {
    left: 0%;
    top: 85%;
    border-top: solid black 2px;
}
.box22 {
    left: 10%;
    top: 85%;
    border-top: solid black 2px;
    border-left: solid black 2px;
    border-bottom: solid black 2px;
}
.box23 { 
    left: 35%;
    top: 85%;
    border-top: solid black 2px;
    border-left: solid black 2px;
    border-bottom: solid black 2px;
}
.box24 {
    left: 60%;
    top: 85%;
    border-top: solid black 2px;
    border-left: solid black 2px;
    border-bottom: solid black 2px;
}
.box25 {
    left: 85%;
    top: 85%;
    border-top: solid black 2px;
    border-left: solid black 2px;
}
.algorithm {
    font-family: ubuntu;
    background-color: cyan;
    font-size: 1.7vw;
    text-align: center;
    border: solid 2px darkcyan;
    color: darkblue;
    opacity: .9;
    top: 97%;
    height: 14%;
    width: 95%;
}
.cube2 {
    left: 35vw;
    top: 2vw;
    width: 30vw;
    height: 30vw;
    background-color: transparent;
}
.cube3 {
    left: 68vw;
    top: 2vw;
    width: 30vw;
    height: 30vw;
    background-color: transparent;
}
.cube4 {
    left: 2vw;
    top: 40vw;
    width: 30vw;
    height: 30vw;
    background-color: transparent;
}
.cube5 {
    left: 35vw;
    top: 40vw;
    width: 30vw;
    height: 30vw;
    background-color: transparent;
}
.cube6 {
    left: 68vw;
    top: 40vw;
    width: 30vw;
    height: 30vw;
    background-color: transparent;
}
.cube7 {
    left: 1.025vw;
    top: 76vw;
    width: 30vw;
    height: 30vw;
    background-color: transparent;
}
.cube8 {
    left: 33vw;
    top: 76vw;
    width: 30vw;
    height: 30vw;
    background-color: transparent;
}
.cube9 {
    left: 33vw;
    top: vw;
    width: 30vw;
    height: 30vw;
    background-color: transparent;
}
.cube10 {
    left:-65vw;
    top: 38vw;
    width: 30vw;
    height: 30vw;
    background-color: transparent;
}
.cube11 {
    left: 32vw;
    top: vw;
    width: 30vw;
    height: 30vw;
    background-color: transparent;
}
.cube12 {
    left: 33vw;
    top: vw;
    width: 30vw;
    height: 30vw;
    background-color: transparent;
}
.cube13 {
    left: -65vw;
    top: 38vw;
    width: 30vw;
    height: 30vw;
    background-color: transparent;
}
.cube14 {
    left: 32vw;
    top: vw;
    width: 30vw;
    height: 30vw;
    background-color: transparent;
}
.cube15 {
    left: 33vw;
    top: vw;
    width: 30vw;
    height: 30vw;
    background-color: transparent;
}
.cube16 {
    left: -65vw;
    top: 38vw;
    width: 30vw;
    height: 30vw;
    background-color: transparent;
}
.cube17 {
    left: 32vw;
    top: vw;
    width: 30vw;
    height: 30vw;
    background-color: transparent;
}
    .cube18 {
    left: 33vw;
    top: vw;
    width: 30vw;
    height: 30vw;
    background-color: transparent;
}
.cube19 {
    left: -65vw;
    top: 38vw;
    width: 30vw;
    height: 30vw;
    background-color: transparent;
}
.cube20 {
    left: 32vw;
    top: vw;
    width: 30vw;
    height: 30vw;
    background-color: transparent;
}
.cube21 {
    left: 33vw;
    top: vw;
    width: 30vw;
    height: 30vw;
    background-color: transparent;
}