body {
    background-color: white;
    overflow-x: hidden;
}
.navbar{
    text-align:center;
}
/*box/container for video*/
.vbox{
    background-color: dodgerblue;
    width:98.5vw;
    height: 55vw;
    margin-top: 1vw;
    box-shadow: 1px 2px 5px black;
    border-radius: 10px;
    border-style: solid;
    border-color: blue;
    border-width: thick;
    font-size: 4vw;
    color:white;
    font-family:'impact'; 
    text-shadow: 5px 5px 1px darkred;
    text-align: center;
    position: relative;
    align-content: center;
}

/*stop motion title*/
.vtitle{
    font-family: 'impact';
    color:white;
    font-size: 4vw;
    text-shadow: 3px 4px 2px blue;
    text-align: center;
    margin-top:.55vw;
    position: absolute;
    margin-left: 38vw;
}

/*subtitle for stop motion*/
.vsub{
    font-family: 'ubuntu';
    color:white;
    font-size: 2vw;
    text-shadow: 3px 2px 3px blue;
    text-align: center;
    margin-top:5vw;
    position: absolute;
    margin-left: 25.9vw;


}


img{
    position: absolute;
    width: 50vw;
    top:18vh;
    left:26vw;
    opacity: 0;
    animation:animate;
    animation-duration: 123s;
    animation-iteration-count: infinite;
    border: solid 5px white;
    background-color: transparent;
    border-radius: 1vw;
    box-shadow: 2px 3px 1px blue;
    
    
}


/*creates the stop motion animation*/
@keyframes animate {
    0% { opacity: 1; }
    0.21% { opacity: 1; }
    0.22% { opacity: 0; }
    100% { opacity; 0 }
}
.a0 {animation-delay: 0.00s;}
.a1{animation-delay: 0.25s;}
.a2{animation-delay: 0.5s;}
.a3{animation-delay: 0.75s;}
.a4{animation-delay: 1s;}
.a5{animation-delay: 1.25s;}
.a6{animation-delay: 1.5s;}
.a7{animation-delay: 1.75s;}
.a8{animation-delay: 2s;}
.a9{animation-delay: 2.25s;}
.a10{animation-delay: 2.5s;}
.a11{animation-delay: 2.75s;}
.a12{animation-delay: 3s;}
.a13{animation-delay: 3.25s;}
.a14{animation-delay: 3.5s;}
.a15{animation-delay: 3.75s;}
.a16{animation-delay: 4s;}
.a17{animation-delay: 4.25s;}
.a18{animation-delay: 4.5s;}
.a19{animation-delay: 4.75s;}
.a20{animation-delay: 5s;}
.a21{animation-delay: 5.25s;}
.a22{animation-delay: 5.5s;}
.a23{animation-delay: 5.75s;}
.a24{animation-delay: 6s;}
.a25{animation-delay: 6.25s;}
.a26{animation-delay: 6.5s;}
.a27{animation-delay: 6.75s;}
.a28{animation-delay: 7s;}
.a29{animation-delay: 7.25s;}
.a30{animation-delay: 7.5s;}
.a31{animation-delay: 7.75s;}
.a32{animation-delay: 8s;}
.a33{animation-delay: 8.25s;}
.a34{animation-delay: 8.5s;}
.a35{animation-delay: 8.75s;}
.a36{animation-delay: 9s;}
.a37{animation-delay: 9.25s;}
.a38{animation-delay: 9.5s;}
.a39{animation-delay: 9.75s;}
.a40{animation-delay: 10s;}
.a41{animation-delay: 10.25s;}
.a42{animation-delay: 10.5s;}
.a43{animation-delay: 10.75s;}
.a44{animation-delay: 11s;}
.a45{animation-delay: 11.25s;}
.a46{animation-delay: 11.5s;}
.a47{animation-delay: 11.75s;}
.a48{animation-delay: 12s;}
.a49{animation-delay: 12.25s;}
.a50{animation-delay: 12.5s;}
.a51{animation-delay: 12.75s;}
.a52{animation-delay: 13s;}
.a53{animation-delay: 13.25s;}
.a54{animation-delay: 13.5s;}
.a55{animation-delay: 13.75s;}
.a56{animation-delay: 14s;}
.a57{animation-delay: 14.25s;}
.a58{animation-delay: 14.5s;}
.a59{animation-delay: 14.75s;}
.a60{animation-delay: 15s;}
.a61{animation-delay: 15.25s;}
.a62{animation-delay: 15.5s;}
.a63{animation-delay: 15.75s;}
.a64{animation-delay: 16s;}
.a65{animation-delay: 16.25s;}
.a66{animation-delay: 16.5s;}
.a67{animation-delay: 16.75s;}
.a68{animation-delay: 17s;}
.a69{animation-delay: 17.25s;}
.a70{animation-delay: 17.5s;}
.a71{animation-delay: 17.75s;}
.a72{animation-delay: 18s;}
.a73{animation-delay: 18.25s;}
.a74{animation-delay: 18.5s;}
.a75{animation-delay: 18.75s;}
.a76{animation-delay: 19s;}
.a77{animation-delay: 19.25s;}
.a78{animation-delay: 19.5s;}
.a79{animation-delay: 19.75s;}
.a80{animation-delay: 20s;}
.a81{animation-delay: 20.25s;}
.a82{animation-delay: 20.5s;}
.a83{animation-delay: 20.75s;}
.a84{animation-delay: 21s;}
.a85{animation-delay: 21.25s;}
.a86{animation-delay: 21.5s;}
.a87{animation-delay: 21.75s;}
.a88{animation-delay: 22s;}
.a89{animation-delay: 22.25s;}
.a90{animation-delay: 22.5s;}
.a91{animation-delay: 22.75s;}
.a92{animation-delay: 23s;}
.a93{animation-delay: 23.25s;}
.a94{animation-delay: 23.5s;}
.a95{animation-delay: 23.75s;}
.a96{animation-delay: 24s;}
.a97{animation-delay: 24.25s;}
.a98{animation-delay: 24.5s;}
.a99{animation-delay: 24.75s;}
.a100{animation-delay: 25s;}
.a101{animation-delay: 25.25s;}
.a102{animation-delay: 25.5s;}
.a103{animation-delay: 25.75s;}
.a104{animation-delay: 26s;}
.a105{animation-delay: 26.25s;}
.a106{animation-delay: 26.5s;}
.a107{animation-delay: 26.75s;}
.a108{animation-delay: 27s;}
.a109{animation-delay: 27.25s;}
.a110{animation-delay: 27.5s;}
.a111{animation-delay: 27.75s;}
.a112{animation-delay: 28s;}
.a113{animation-delay: 28.25s;}
.a114{animation-delay: 28.5s;}
.a115{animation-delay: 28.75s;}
.a116{animation-delay: 29s;}
.a117{animation-delay: 29.25s;}
.a118{animation-delay: 29.5s;}
.a119{animation-delay: 29.75s;}
.a120{animation-delay: 30s;}
.a121{animation-delay: 30.25s;}
.a122{animation-delay: 30.5s;}
.a123{animation-delay: 30.75s;}
.a124{animation-delay: 31s;}
.a125{animation-delay: 31.25s;}
.a126{animation-delay: 31.5s;}
.a127{animation-delay: 31.75s;}
.a128{animation-delay: 32s;}
.a129{animation-delay: 32.25s;}
.a130{animation-delay: 32.5s;}
.a131{animation-delay: 32.75s;}
.a132{animation-delay: 33s;}
.a133{animation-delay: 33.25s;}
.a134{animation-delay: 33.5s;}
.a135{animation-delay: 33.75s;}
.a136{animation-delay: 34s;}
.a137{animation-delay: 34.25s;}
.a138{animation-delay: 34.5s;}
.a139{animation-delay: 34.75s;}
.a140{animation-delay: 35s;}
.a141{animation-delay: 35.25s;}
.a142{animation-delay: 35.5s;}
.a143{animation-delay: 35.75s;}
.a144{animation-delay: 36s;}
.a145{animation-delay: 36.25s;}
.a146{animation-delay: 36.5s;}
.a147{animation-delay: 36.75s;}
.a148{animation-delay: 37s;}
.a149{animation-delay: 37.25s;}
.a150{animation-delay: 37.5s;}
.a151{animation-delay: 37.75s;}
.a152{animation-delay: 38s;}
.a153{animation-delay: 38.25s;}
.a154{animation-delay: 38.5s;}
.a155{animation-delay: 38.75s;}
.a156{animation-delay: 39s;}
.a157{animation-delay: 39.25s;}
.a158{animation-delay: 39.5s;}
.a159{animation-delay: 39.75s;}
.a160{animation-delay: 40s;}
.a161{animation-delay: 40.25s;}
.a162{animation-delay: 40.5s;}
.a163{animation-delay: 40.75s;}
.a164{animation-delay: 41s;}
.a165{animation-delay: 41.25s;}
.a166{animation-delay: 41.5s;}
.a167{animation-delay: 41.75s;}
.a168{animation-delay: 42s;}
.a169{animation-delay: 42.25s;}
.a170{animation-delay: 42.5s;}
.a171{animation-delay: 42.75s;}
.a172{animation-delay: 43s;}
.a173{animation-delay: 43.25s;}
.a174{animation-delay: 43.5s;}
.a175{animation-delay: 43.75s;}
.a176{animation-delay: 44s;}
.a177{animation-delay: 44.25s;}
.a178{animation-delay: 44.5s;}
.a179{animation-delay: 44.75s;}
.a180{animation-delay: 45s;}
.a181{animation-delay: 45.25s;}
.a182{animation-delay: 45.5s;}
.a183{animation-delay: 45.75s;}
.a184{animation-delay: 46s;}
.a185{animation-delay: 46.25s;}
.a186{animation-delay: 46.5s;}
.a187{animation-delay: 46.75s;}
.a188{animation-delay: 47s;}
.a189{animation-delay: 47.25s;}
.a190{animation-delay: 47.5s;}
.a191{animation-delay: 47.75s;}
.a192{animation-delay: 48s;}
.a193{animation-delay: 48.25s;}
.a194{animation-delay: 48.5s;}
.a195{animation-delay: 48.75s;}
.a196{animation-delay: 49s;}
.a197{animation-delay: 49.25s;}
.a198{animation-delay: 49.5s;}
.a199{animation-delay: 49.75s;}
.a200{animation-delay: 50s;}
.a201{animation-delay: 50.25s;}
.a202{animation-delay: 50.5s;}
.a203{animation-delay: 50.75s;}
.a204{animation-delay: 51s;}
.a205{animation-delay: 51.25s;}
.a206{animation-delay: 51.5s;}
.a207{animation-delay: 51.75s;}
.a208{animation-delay: 52s;}
.a209{animation-delay: 52.25s;}
.a210{animation-delay: 52.5s;}
.a211{animation-delay: 52.75s;}
.a212{animation-delay: 53s;}
.a213{animation-delay: 53.25s;}
.a214{animation-delay: 53.5s;}
.a215{animation-delay: 53.75s;}
.a216{animation-delay: 54s;}
.a217{animation-delay: 54.25s;}
.a218{animation-delay: 54.5s;}
.a219{animation-delay: 54.75s;}
.a220{animation-delay: 55s;}
.a221{animation-delay: 55.25s;}
.a222{animation-delay: 55.5s;}
.a223{animation-delay: 55.75s;}
.a224{animation-delay: 56s;}
.a225{animation-delay: 56.25s;}
.a226{animation-delay: 56.5s;}
.a227{animation-delay: 56.75s;}
.a228{animation-delay: 57s;}
.a229{animation-delay: 57.25s;}
.a230{animation-delay: 57.5s;}
.a231{animation-delay: 57.75s;}
.a232{animation-delay: 58s;}
.a233{animation-delay: 58.25s;}
.a234{animation-delay: 58.5s;}
.a235{animation-delay: 58.75s;}
.a236{animation-delay: 59s;}
.a237{animation-delay: 59.25s;}
.a238{animation-delay: 59.5s;}
.a239{animation-delay: 59.75s;}
.a240{animation-delay: 60s;}
.a241{animation-delay: 60.25s;}
.a242{animation-delay: 60.5s;}
.a243{animation-delay: 60.75s;}
.a244{animation-delay: 61s;}
.a245{animation-delay: 61.25s;}
.a246{animation-delay: 61.5s;}
.a247{animation-delay: 61.75s;}
.a248{animation-delay: 62s;}
.a249{animation-delay: 62.25s;}
.a250{animation-delay: 62.5s;}
.a251{animation-delay: 62.75s;}
.a252{animation-delay: 63s;}
.a253{animation-delay: 63.25s;}
.a254{animation-delay: 63.5s;}
.a255{animation-delay: 63.75s;}
.a256{animation-delay: 64s;}
.a257{animation-delay: 64.25s;}
.a258{animation-delay: 64.5s;}
.a259{animation-delay: 64.75s;}
.a260{animation-delay: 65s;}
.a261{animation-delay: 65.25s;}
.a262{animation-delay: 65.5s;}
.a263{animation-delay: 65.75s;}
.a264{animation-delay: 66s;}
.a265{animation-delay: 66.25s;}
.a266{animation-delay: 66.5s;}
.a267{animation-delay: 66.75s;}
.a268{animation-delay: 67s;}
.a269{animation-delay: 67.25s;}
.a270{animation-delay: 67.5s;}
.a271{animation-delay: 67.75s;}
.a272{animation-delay: 68s;}
.a273{animation-delay: 68.25s;}
.a274{animation-delay: 68.5s;}
.a275{animation-delay: 68.75s;}
.a276{animation-delay: 69s;}
.a277{animation-delay: 69.25s;}
.a278{animation-delay: 69.5s;}
.a279{animation-delay: 69.75s;}
.a280{animation-delay: 70s;}
.a281{animation-delay: 70.25s;}
.a282{animation-delay: 70.5s;}
.a283{animation-delay: 70.75s;}
.a284{animation-delay: 71s;}
.a285{animation-delay: 71.25s;}
.a286{animation-delay: 71.5s;}
.a287{animation-delay: 71.75s;}
.a288{animation-delay: 72s;}
.a289{animation-delay: 72.25s;}
.a290{animation-delay: 72.5s;}
.a291{animation-delay: 72.75s;}
.a292{animation-delay: 73s;}
.a293{animation-delay: 73.25s;}
.a294{animation-delay: 73.5s;}
.a295{animation-delay: 73.75s;}
.a296{animation-delay: 74s;}
.a297{animation-delay: 74.25s;}
.a298{animation-delay: 74.5s;}
.a299{animation-delay: 74.75s;}
.a300{animation-delay: 75s;}
.a301{animation-delay: 75.25s;}
.a302{animation-delay: 75.5s;}
.a303{animation-delay: 75.75s;}
.a304{animation-delay: 76s;}
.a305{animation-delay: 76.25s;}
.a306{animation-delay: 76.5s;}
.a307{animation-delay: 76.75s;}
.a308{animation-delay: 77s;}
.a309{animation-delay: 77.25s;}
.a310{animation-delay: 77.5s;}
.a311{animation-delay: 77.75s;}
.a312{animation-delay: 78s;}
.a313{animation-delay: 78.25s;}
.a314{animation-delay: 78.5s;}
.a315{animation-delay: 78.75s;}
.a316{animation-delay: 79s;}
.a317{animation-delay: 79.25s;}
.a318{animation-delay: 79.5s;}
.a319{animation-delay: 79.75s;}
.a320{animation-delay: 80s;}
.a321{animation-delay: 80.25s;}
.a322{animation-delay: 80.5s;}
.a323{animation-delay: 80.75s;}
.a324{animation-delay: 81s;}
.a325{animation-delay: 81.25s;}
.a326{animation-delay: 81.5s;}
.a327{animation-delay: 81.75s;}
.a328{animation-delay: 82s;}
.a329{animation-delay: 82.25s;}
.a330{animation-delay: 82.5s;}
.a331{animation-delay: 82.75s;}
.a332{animation-delay: 83s;}
.a333{animation-delay: 83.25s;}
.a334{animation-delay: 83.5s;}
.a335{animation-delay: 83.75s;}
.a336{animation-delay: 84s;}
.a337{animation-delay: 84.25s;}
.a338{animation-delay: 84.5s;}
.a339{animation-delay: 84.75s;}
.a340{animation-delay: 85s;}
.a341{animation-delay: 85.25s;}
.a342{animation-delay: 85.5s;}
.a343{animation-delay: 85.75s;}
.a344{animation-delay: 86s;}
.a345{animation-delay: 86.25s;}
.a346{animation-delay: 86.5s;}
.a347{animation-delay: 86.75s;}
.a348{animation-delay: 87s;}
.a349{animation-delay: 87.25s;}
.a350{animation-delay: 87.5s;}
.a351{animation-delay: 87.75s;}
.a352{animation-delay: 88s;}
.a353{animation-delay: 88.25s;}
.a354{animation-delay: 88.5s;}
.a355{animation-delay: 88.75s;}
.a356{animation-delay: 89s;}
.a357{animation-delay: 89.25s;}
.a358{animation-delay: 89.5s;}
.a359{animation-delay: 89.75s;}
.a360{animation-delay: 90s;}
.a361{animation-delay: 90.25s;}
.a362{animation-delay: 90.5s;}
.a363{animation-delay: 90.75s;}
.a364{animation-delay: 91s;}
.a365{animation-delay: 91.25s;}
.a366{animation-delay: 91.5s;}
.a367{animation-delay: 91.75s;}
.a368{animation-delay: 92s;}
.a369{animation-delay: 92.25s;}
.a370{animation-delay: 92.5s;}
.a371{animation-delay: 92.75s;}
.a372{animation-delay: 93s;}
.a373{animation-delay: 93.25s;}
.a374{animation-delay: 93.5s;}
.a375{animation-delay: 93.75s;}
.a376{animation-delay: 94s;}
.a377{animation-delay: 94.25s;}
.a378{animation-delay: 94.5s;}
.a379{animation-delay: 94.75s;}
.a380{animation-delay: 95s;}
.a381{animation-delay: 95.25s;}
.a382{animation-delay: 95.5s;}
.a383{animation-delay: 95.75s;}
.a384{animation-delay: 96s;}
.a385{animation-delay: 96.25s;}
.a386{animation-delay: 96.5s;}
.a387{animation-delay: 96.75s;}
.a388{animation-delay: 97s;}
.a389{animation-delay: 97.25s;}
.a390{animation-delay: 97.5s;}
.a391{animation-delay: 97.75s;}
.a392{animation-delay: 98s;}
.a393{animation-delay: 98.25s;}
.a394{animation-delay: 98.5s;}
.a395{animation-delay: 98.75s;}
.a396{animation-delay: 99s;}
.a397{animation-delay: 99.25s;}
.a398{animation-delay: 99.5s;}
.a399{animation-delay: 99.75s;}
.a400{animation-delay: 100s;}
.a401{animation-delay: 100.25s;}
.a402{animation-delay: 100.5s;}
.a403{animation-delay: 100.75s;}
.a404{animation-delay: 101s;}
.a405{animation-delay: 101.25s;}
.a406{animation-delay: 101.5s;}
.a407{animation-delay: 101.75s;}
.a408{animation-delay: 102s;}
.a409{animation-delay: 102.25s;}
.a410{animation-delay: 102.5s;}
.a411{animation-delay: 102.75s;}
.a412{animation-delay: 103s;}
.a413{animation-delay: 103.25s;}
.a414{animation-delay: 103.5s;}
.a415{animation-delay: 103.75s;}
.a416{animation-delay: 104s;}
.a417{animation-delay: 104.25s;}
.a418{animation-delay: 104.5s;}
.a419{animation-delay: 104.75s;}
.a420{animation-delay: 105s;}
.a421{animation-delay: 105.25s;}
.a422{animation-delay: 105.5s;}
.a423{animation-delay: 105.75s;}
.a424{animation-delay: 106s;}
.a425{animation-delay: 106.25s;}
.a426{animation-delay: 106.5s;}
.a427{animation-delay: 106.75s;}
.a428{animation-delay: 107s;}
.a429{animation-delay: 107.25s;}
.a430{animation-delay: 107.5s;}
.a431{animation-delay: 107.75s;}
.a432{animation-delay: 108s;}
.a433{animation-delay: 108.25s;}
.a434{animation-delay: 108.5s;}
.a435{animation-delay: 108.75s;}
.a436{animation-delay: 109s;}
.a437{animation-delay: 109.25s;}
.a438{animation-delay: 109.5s;}
.a439{animation-delay: 109.75s;}
.a440{animation-delay: 110s;}
.a441{animation-delay: 110.25s;}
.a442{animation-delay: 110.5s;}
.a443{animation-delay: 110.75s;}
.a444{animation-delay: 111s;}
.a445{animation-delay: 111.25s;}
.a446{animation-delay: 111.5s;}
.a447{animation-delay: 111.75s;}
.a448{animation-delay: 112s;}
.a449{animation-delay: 112.25s;}
.a450{animation-delay: 112.5s;}
.a451{animation-delay: 112.75s;}
.a452{animation-delay: 113s;}
.a453{animation-delay: 113.25s;}
.a454{animation-delay: 113.5s;}
.a455{animation-delay: 113.75s;}
.a456{animation-delay: 114s;}
.a457{animation-delay: 114.25s;}
.a458{animation-delay: 114.5s;}
.a459{animation-delay: 114.75s;}
.a460{animation-delay: 115s;}
.a461{animation-delay: 115.25s;}
.a462{animation-delay: 115.5s;}
.a463{animation-delay: 115.75s;}
.a464{animation-delay: 116s;}
.a465{animation-delay: 116.25s;}
.a466{animation-delay: 116.5s;}
.a467{animation-delay: 116.75s;}
.a468{animation-delay: 117s;}
.a469{animation-delay: 117.25s;}
.a470{animation-delay: 117.5s;}
.a471{animation-delay: 117.75s;}
.a472{animation-delay: 118s;}
.a473{animation-delay: 118.25s;}
.a474{animation-delay: 118.5s;}
.a475{animation-delay: 118.75s;}
.a476{animation-delay: 119s;}
.a477{animation-delay: 119.25s;}
.a478{animation-delay: 119.5s;}
.a479{animation-delay: 119.75s;}
.a480{animation-delay: 120s;}
.a481{animation-delay: 120.25s;}
.a482{animation-delay: 120.5s;}
.a483{animation-delay: 120.75s;}
.a484{animation-delay: 121s;}
.a485{animation-delay: 121.25s;}
.a486{animation-delay: 121.5s;}
.a487{animation-delay: 121.75s;}
.a488{animation-delay: 122s;}
.a489{animation-delay: 122.25s;}
.a490{animation-delay: 122.5s;}
.a491{animation-delay: 122.75s;}
.a492{animation-delay: 123s;}
