/* Slideshow container */
.slideshow-container {
    width: 100vw;
    margin-top: .5%;
    object-fit: contain;
    align-items: center;
    position:relative;
    box-shadow: 1px 1px 9px black;

}

/* Hide the images by default */
.mySlides {
    display: none;
    margin-top: .9%;
    width:100%;
    padding: 100px;
    width:100%; height:400px


}
.dodgerblue{
    background-color: dodgerblue;
}
.palered{
    background-color:#f44336; 
    
}
.yellow{
    background-color:
    #ffd016;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover show a transparent black filter */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}


/* dots/bullets */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 1px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/*when the dot is active, darken color*/
.active, .dot:hover{
    background-color: darkslategrey;
}


/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
.slidetitle{
    font-family: impact;
    font-size: 4vw;
    color: white;
    text-align: center;
    margin-top: -4.5vw;
}
.darkorange{
     text-shadow: 2.5px 2px 3px orangered;
}
.darkblue{
     text-shadow: 2.5px 2px 3px  blue;
}
.darkred{
     text-shadow: 2.5px 2px 3px darkred;
}
.darkyellow{
     text-shadow: 4px 3.5px 2.5px darkorange;
}
.slideinfo{
     font-family: 'ubuntu';
    font-size: 2vw;
    color: white;
    text-align: center;
    margin-top: 3vw;
    object-fit: contain;
    
     
    
}