/* Slideshow container */
.slideshow-container {
    width: 97.8vw;
    margin-top: .5vw;
    object-fit: contain;
    align-items: center;
    position:relative;
    box-shadow: 1px 1px 9px black;

}

/* Hide the images by default */
.keyslides {
    display: none;
    margin-top: 20vw;;
    width:100%;
    padding: 100px;
    width:100%; height:400px;


}

.palered{
    background-color:#f44336; 

}


/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/*next button*/
.next {
    right:0vw;
    border-radius: 3px 0 0 3px;
}

/* On hover show a transparent black filter */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* dots/bullets */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 1px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/*when the dot is active, darken color*/
.active, .dot:hover{
    background-color: darkslategrey;
}


/* Slides Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
.slidetitle{
    font-family: impact;
    font-size: 4vw;
    color: white;
    text-align: center;
    margin-top: -4.5vw;
}