div {
    position: absolute;
}
img{
    opacity: 0;
      -webkit-animation: mymove 10s infinite; 
  animation: mymove 10s infinite;
}
.top {
    animation-delay: 0;
}
.front {
    animation-delay: 2s;
}
.left {
    animation-delay: 4s;
}
.right {
    animation-delay: 6s;
}
.bottom {
    animation-delay: 8s;
}
.back {
    animation-delay: 10s;
}
.stellarcube {
    width: 26vw;
    height: 26vw;
    background-color: lightgrey;
    border: solid 3px darkcyan;
    border-radius: 5%;
    padding-left: 5px;
    position: relative;
    box-shadow: 1px 1px 3px grey;
    left: 70vw;
    top: -226.5vw;
}

.stellarcube img {
    position: absolute;
    left: 0;
}
@-webkit-keyframes mymove {
    10%   {opacity: 1;}
    10%  {opacity: 1;}
    17%  {opacity: 0;}
    90%  {opacity: 0;}
}

@keyframes mymove {
    10%   {opacity: 1;}
    10%  {opacity: 1;}
    17%  {opacity: 0;}
    90%  {opacity: 0;}
}