@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
    background-color: #0000;
    font-family: 'Ubuntu', sans-serif;
}

/*timeline box/container*/
.tbox{
    background-color: forestgreen;
    width:97.9vw;
    height: 360vw;
    margin-top: 1.5vw;
    box-shadow: 1px 2px 5px black;
    border-radius: 10px;
    border-style: solid;
    border-color: darkgreen;
    border-width: thick;
    font-size: 4vw;
    color:white;
    font-family:'anton'; 
    text-shadow: 5px 5px 1px darkgreen;
    text-align: center;
    position: relative;
    align-content: center;
}
h1 {
    color:white;
    font-size:4vw;
    font-family: 'anton';
    text-align: center;
    margin-top: -5vw;
    text-shadow: 4px 4px 1px darkgreen;
}
h3 {
    color:white;
    font-size:2vw;
    text-align:center;
    margin-top: -2.5vw;
    text-shadow: 2px 3px 1px darkgreen;
}

div {
    background-color: transparent;
    position: absolute;
    color:black;
    font-family: 'Ubuntu', sans-serif;
    font-size:2vw;
    padding:3px;
    margin-left: 5px;
    margin-right: 5px;
    position: absolute
}

img {
    border-radius:18px;
    transition-duration: 2s;
    position:absolute;
}

/*big bang*/

.bigbang{
    position:absolute;
    width:20vw;
    margin-left: -40vw;
}
.cbigbang{
    position:absolute;
    color: white;
    text-shadow: 1px 1px 1px darkgreen;
    top:29vh;
    left:30vw;
    
}
/*erno was born*/
.born{
    position:absolute;
     width:20vw;
    margin-left: -40vw;
    margin-top: 22vw;
}
.cborn{
    position:absolute;
    color:white;
    text-shadow: 1px 1px 1px darkgreen;
    top:80vh;
    left:30vw;
}
/* the first two by two puzzle cube*/
.twizzle{
    position:absolute;
     width:20vw;
    margin-left: -40vw;
    margin-top: 50vw;
}
.ctwizzle{
    position:absolute;
    color:white;
    text-shadow: 1px 1px 1px darkgreen;
    top:122vh;
    left:30vw;
}
.originalcube{
    position:absolute;
    width:20vw;
    margin-top: 67.5vw;
    margin-left: -40vw;
}
.coriginalcube{
    position:absolute;
    color:white;
    text-shadow: 1px 1px 1px darkgreen;
    top:160vh;
    left:30vw;
}
.revenge{
    position:absolute;
     width:20vw;
   margin-left: -40vw;
    margin-top: 92vw;
}
.crevenge{
    position:absolute;
    color:white;
    text-shadow: 1px 1px 1px darkgreen;
    top:207vh;
    left:30vw;
}
.rerubiks{
    position:absolute;
     width:20vw;
    margin-left: -40vw;
    margin-top: 117vw;
}
.crerubiks{
    position:absolute;
    color:white;
    text-shadow: 1px 1px 1px darkgreen;
    top:256vh;
    left:30vw;
}
.mrrubik{
    position:absolute;
     width:20vw;
    margin-left: -40vw;
    margin-top: 268vh
}
.cmrrubik{
    position:absolute;
    color:white;
    text-shadow: 1px 1px 1px darkgreen;
    top:299vh;
    left:30vw;
}
.youcandothecube{
    position:absolute;
    width:20vw;
    margin-left:-40vw;
    margin-top: 315vh
}
.cyoucandothecube{
    position:absolute;
    color:white;
    text-shadow: 1px 1px 1px darkgreen;
    top:342vh;
    left:30vw;
}
.oxford{
    position:absolute;
    width:20vw;
    margin-left:-40vw;
    margin-top:353vh;
}
.coxford{
    position:absolute;
    color:white;
    text-shadow: 1px 1px 1px darkgreen;
    top:393vh;
    left:30vw;
}
.tv{
    position:absolute;
    width:20vw;
    margin-left:-40vw;
    margin-top: 413vh;
}
.ctv{
    position:absolute;
    color:white;
    text-shadow: 1px 1px 1px darkgreen;
    top:455vh;
    left:30vw;
}
.clock{
    position:absolute;
    width:20vw;
    margin-left:-40vw;
    margin-top:477vh;
}
.cclock{
    position:absolute;
    color:white;
    text-shadow: 1px 1px 1px darkgreen;
    top:507vh;
    left:30vw;
}
.WCA{
    position:absolute;
    width:20vw;
    margin-left:-40vw;
    margin-top:516vh;
}
.cWCA{
    position:absolute;
    color:white;
    text-shadow: 1px 1px 1px darkgreen;
    top:548vh;
    left:30vw;
}
.vcube{
    position:absolute;
    width:20vw;
    margin-left:-40vw;
    margin-top:563vh;
}
.cvcube{
    position:absolute;
    color:white;
    text-shadow: 1px 1px 1px darkgreen;
    top:588vh;
    left:30vw;
}
.godsnumber{
    position:absolute;
    width:20vw;
    margin-left:-40vw;
    margin-top:595vh;
}
.cgodsnumber{
    position:absolute;
    color:white;
    text-shadow: 1px 1px 1px darkgreen;
    top:619vh;
    left:30vw;
}
.biggestcube{
    position:absolute;
    width:20vw;
    margin-left:-40vw;
    margin-top:624vh;
}
.cbiggestcube{
    position:absolute;
    color:white;
    text-shadow: 1px 1px 1px darkgreen;
    top:650vh;
    left:30vw;
}
/*.caption{
    color: white;
    text-shadow: 1px 1px 1px darkgreen;
    top:;
    left:30vw;
    
} */
