/*text settings for links*/
/*shop box*/
.cubicleshop{
    font-size: 2.5vw; 
    font-family: 'ubuntu';
    margin-top:4vw; 
    margin-left: -1vw;  
    text-shadow: 5px 4px .5px darkred;
    border-color: darkred; 
    color:white; 
}
.speedcubeshop{
    font-family: 'ubuntu';
    font-size: 2.5vw;
    margin-top:0.9vw; 
    margin-left: -1vw;  text-shadow: 3px 4px 3px darkred;
    border-color: darkred; 
    color:white; 
}
.lighttake{
    font-family: 'ubuntu';
    font-size: 2.5vw;
    margin-top:0.9vw;
    margin-left: -1vw;  
    text-shadow: 5px 4px .5px darkred;
    border-color: darkred; 
    color:white;
    
}
.cubezz{
    font-family: 'ubuntu';
    font-size: 2.5vw; 
    margin-top:0.9vw;
    margin-left: -1vw;  
    text-shadow: 5px 4px .5px darkred;
    border-color: darkred; 
    color:white; 
}
/*timers box*/
.timerstitle{ 
    background-color:
        dodgerblue; 
    border-color:blue;
    margin-top: 1vw;
}
.cubicletimer{
    font-family: 'ubuntu';
    font-size: 2.5vw;
    margin-top:4vw; 
    margin-left: -1vw;;
    text-shadow: 5px 4px .5px blue; color:white  ;
}
.cstimer{
    font-family: 'ubuntu';
    font-size: 2.5vw;
    margin-top:0.9vw; 
    margin-left: -1vw; 
    text-shadow: 3px 4px 3px blue;
    color:white;
}
.cubetimer{
    font-family: 'ubuntu';
    font-size: 2.5vw;
    margin-top:0.9vw; 
    margin-left: -1vw;  
    text-shadow: 3px 4px 3px blue; color:white;
    text-align: center;
}
.cubingtimer{
    font-family: 'ubuntu';
    font-size: 2.5vw;
    margin-top:0.9vw;
    margin-left: -1vw; 
    text-shadow: 5px 4px .5px blue; color:white;
    text-align: center; 
}
/*forums box*/
.forumtitle{
    background-color:orange; 
    border-color:orange;
    margin-top: 1vw;
}
.speedsolving{
    font-family: 'ubuntu';
    font-size: 2.5vw;
    margin-top:4vw; 
    margin-left: -1vw;;
    text-shadow: 5px 4px .5px darkorange; color:white  ;
}
.twistypuzzles{
    font-family: 'ubuntu';
    font-size: 2.5vw;
    margin-top:0.9vw; 
    margin-left: -1vw; 
    text-shadow: 3px 4px 3px darkorange;
    color:white;
}
.reddit{
    font-family: 'ubuntu';
    font-size: 2.5vw;
    margin-top:0.9vw; 
    margin-left: -1vw;  
    text-shadow: 3px 4px 3px darkorange; color:white;
    text-align: center;
}
.aminoapps{
    font-family: 'ubuntu';
    font-size: 2.5vw;
    margin-top:0.9vw;
    margin-left: -1vw; 
    text-shadow: 5px 4px .5px darkorange; color:white;
    text-align: center; 
}
