/*images for 'links' page*/
*{box-sizing: border-box;}

/*rubiks cube image*/
.rubiksimg{
    margin-top: -21.5vw;
    margin-left:20vw;
    max-width:28vw;
    position: absolute;

}

/*image of stopwatch*/
.timerimg{
    margin-top: -21vw;
    left: 73%;
    max-width:24vw;
    position: absolute;
}
/*image of community*/
.forumimg{
    margin-top: -20.5vw;
    left: 73%;
    max-width:25vw;
    position: absolute;
}

/*SHAKE IMAGE ON HOVER*/
/*Source:W3 Schools*/
img:hover {
    /* animation shakes for .5s*/
    animation: shake 0.5s; 

    /*animation will repeat*/
    animation-iteration-count: infinite; 
}

/*Code for shaking the image on hover*/
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
